

button,.button,.clickable{
    max-width:100%;
    font-size:1em;
    border:none;
    transition:200ms;
}

@media(hover:none){
    button:active,.button:active,.clickable:active{
        filter:brightness(0.65);
        opacity:0.85;
    }
}

@media(any-hover){
    button:hover,.button:hover,.clickable:hover{
        filter:brightness(0.65);
        opacity:0.85;
    }
}
